/* Estilos gerais */
@font-face {
  font-family: 'R';
  src: url(/css/font/MoreSugar-Regular.ttf);
}
@font-face {
  font-family: 'T';
  src: url(/css/font/MoreSugar-Thin.ttf);
}
@font-face {
  font-family: 'C';
  src: url(/css/font/FunClub-Outline.ttf);
}
body {
    background-color: #faefd0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  /*Titulo*/
  h1{
    font-family: 'C';
    color:#623307;
    font-size: 40px;
  }
  /*Subtitulo*/
  a{
    font-family: 'T';
    color:#623307;
    font-size: 20px;
  }

  /* Estilos do cabeçalho */
  header {
    text-align: center;
    background-color: #7dcfff;
    padding: 20px;
    border-bottom: #623307 dashed 3.5px;
  }
  .caran{
    display: flex;
    justify-content: center;
    gap: 0;
  }
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  /*Meio*/

  /*Letras */
  h2{
    font-family: 'R';
    color:#623307;
    font-size: 40px;
    text-align: center;
  }
  p{
    font-family: 'T';
    color:#623307;
    font-size: 20px;
    text-align: center;
  }
  
  /* Estilos do formulário */
  form {
  font-size: 15px;
  font-family: 'T';
  color: #623307;
  display: flex;
  flex-direction: column; /* Alinha os elementos em coluna */
  gap: 15px; /* Espaçamento entre os elementos do formulário */
  max-width: 400px; /* Largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário */
  padding: 20px; /* Espaçamento interno */
  background-color: #ffffff; /* Fundo branco para o formulário */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
input{
  font-size: 15px;
  color: #623307;
  font-family: 'T';
  border-radius: 5px;
}
textarea{
  font-size: 15px;
  color: #623307;
  font-family: 'T';
  border-radius: 8px;
}

  /* Estilos dos botões */
  button {
  font-size: 15px;
  font-family: 'T';
  background-color: #623307; /* Cor de fundo do botão */
  color: #faefd0; /* Cor do texto do botão */
  border: none; /* Remove borda padrão */
  padding: 10px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

  button:hover {
  background-color: #7dcfff; /* Cor de fundo ao passar o mouse */
}

  /* Estilos do rodapé */
  footer {
    border-top: #623307 dashed 3.5px;
    background-color: #7dcfff;
    font-family: 'T';
    color: #623307;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }