/* Estilos gerais */
@font-face {
  font-family: 'R';
  src: url(/css/font/MoreSugar-Regular.ttf);
}
@font-face {
  font-family: 'T';
  src: url(/css/font/MoreSugar-Thin.ttf);
}
@font-face {
  font-family: 'C';
  src: url(/css/font/FunClub-Outline.ttf);
}

body {
  background-color: #faefd0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Titulo */
h1 {
  font-family: 'C';
  color: #623307;
  font-size: 40px;
}

/* Subtitulo */
a {
  font-family: 'T';
  color: #623307;
  font-size: 20px;
}

/* Estilos do cabeçalho */
header {
  text-align: center;
  background-color: #7dcfff;
  padding: 15px;
  border-bottom: #623307 dashed 3.5px;
}

header h1 {
  margin: 0;
}

.caran {
  display: flex;
  justify-content: center;
  gap: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
}

/* Titulo da página */
h2{
  font-family: "R";
  text-align: center;
  color: #623307;
}
.um:hover{
  border: #faefd0 dashed 2px;
  transform: scale(1.1);
}
/* Estilos da seção de produtos */
#produtos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centraliza quando há menos de 4 */
  padding: 0;
  gap: 1vw;
}

#produtos li {
  list-style-type: none;
  background: #926134;
  border-radius: 0.5vh;
  box-shadow: 0 0.3vh 0.6vh rgba(0, 0, 0, 0.454);
  color: #faefd0;
  font-family: 'T';
  width: 22%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 130px;
}

.btn-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1vh;
}

button {
  font-family: 'R';
  font-size: 15px;
  padding: 1vh 2vw;
  cursor: pointer;
  background-color: #faefd0;
  color: #623307;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #e0d0b0;
}

/* Estilos do rodapé */
footer {
  border-top: #623307 dashed 3.5px;
  background-color: #7dcfff;
  font-family: 'T';
  color: #623307;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}